* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    margin: 20px;
    margin-left: auto;
    width: 100%;
    height: 150px;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
}

header h1 {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

main {
    width: 100%;
    height: 600px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.contenedor-tarjetas {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    display: flex;
    align-self: center;
    align-items: center;
    width: 90%;
    height: 50%;
    /* border: 1px solid green;*/
}



.contenedor-tarjetas .imagen-sugerida {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 1%;
    width: 45%;
    height: 80%;
    margin-left: 1%;
    border: 1px solid red;
    border-radius: 5%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contenedor-tarjetas .imagen-sugerida h2 {
    position: absolute;
    width: 100%;
    margin-top: -50%;
    text-align: center;
    border: 1px solid brown;
    border-radius: 15% 15% 0 0;
}




.contenedor-tarjetas .emocion-encontrada {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 45%;
    height: 80%;
    margin-top: 1%;
    margin-left: 54%;
    border: 1px solid red;
    border-radius: 5%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contenedor-tarjetas .emocion-encontrada h2 {
    position: absolute;
    width: 100%;
    margin-top: -50%;
    text-align: center;
    border: 1px solid brown;
    border-radius: 15% 15% 0 0;
}

.contenedor-tarjetas .emocion-encontrada p {
    position: absolute;
    width: 100%;
    margin-top: -10%;
    text-align: center;
    font-size: 35px;
    color: blue;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.contenedor-tarjetas .emocion-encontrada .resultadoEmocion {
    position: absolute;
    width: 100%;
    height: 30px;
    margin-top: 15%;
    text-align: center;

}


.buscador-emociones {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-top: 10%;
    justify-content: center;
    justify-items: center;
    align-items: center;

}

.inputTexto {
    position: relative;
    margin-top: 10px;
    width: 600px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
font-size: 20px;
font-weight: 800;
}

.emocion-encontrada .resultadoEmocion {
    font-size: 25px;
    font-weight: 900;
    justify-content: center;
}

.btn {
    justify-content: center;
    justify-items: center;
    margin-top: 3%;
    border-color: blue;
    border-radius: 10%;
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
}